* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root.dark {
  --body-bg-color: #031323;
  --circle-color-1: #b99700;
  --circle-color-2: #a70000;
  --circle-color-3: #a70090;
  --circle-color-4: #a70000;
  --circle-color-5: #121ca8;
  --color-light-1: rgba(255, 255, 255, 0.05);
  --color-light-2: rgba(255, 255, 255, 0.1);
  --color-light-3: rgba(255, 255, 255, 0.2);
  --color-dark-1: rgba(0, 0, 0, 0.2);
  --text-color: #fff;
  --text-color-record: #e2e2e2;
  --btn-active-1: #f71787;
  --btn-active-2: #ff3c00;
  --a-color: #ff7a00;
  --info-bg-color: rgba(16, 31, 46, 0.95);
  --height: 100;
  --width: 100vw;
  --font-weight: 400;
  --primary: #0084ff41;
  --secondary: #1b8dff13;
  --primary-hover: #0084ff60;
  --secondary-hover: #1b8dff23;
  --primary-o: #0084ff56;
  --primary-o-hover: #0084ff71;
}
:root {
  --body-bg-color: #f4f4f4;
  --circle-color-1: #ffd000;
  --circle-color-2: #ff0000;
  --circle-color-3: #ff00dd;
  --circle-color-4: #f50202;
  --circle-color-5: #1928f5;
  --color-light-1: rgba(0, 0, 0, 0.05);
  --color-light-2: rgba(0, 0, 0, 0.1);
  --color-light-3: rgba(0, 0, 0, 0.2);
  --color-dark-1: rgba(0, 0, 0, 0.2);
  --text-color: #111;
  --text-color-record: #444;
  --btn-active-1: #f71787;
  --btn-active-2: #ff3c00;
  --a-color: #ff3c00;
  --info-bg-color: rgba(240, 240, 240, 0.9);
  --height: 100;
  --width: 100vw;
  --font-weight: 500;
  --primary: #00a2ff3a;
  --secondary: #00a2ff11;
  --primary-hover: #00a2ff56;
  --secondary-hover: #00a2ff27;
  --primary-o: #00a2ff56;
  --primary-o-hover: #00a2ff75;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
  height: calc(var(--vh) * 100);
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg-color);
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh) * 100);
  background: linear-gradient(
    var(--circle-color-1),
    var(--circle-color-2),
    var(--circle-color-3)
  );
  clip-path: circle(40% at 10% 10%);
}

body::after {
  background: linear-gradient(var(--circle-color-4), var(--circle-color-5));
  clip-path: circle(40% at 90% 90%);
}

.calculator {
  position: absolute;
  z-index: 10;
  background-color: var(--color-light-1);
  /* border-radius: .5rem; */
  overflow: hidden;
  /* border-top: .0625rem solid var(--color-light-3); */
  /* border-left: .0625rem solid var(--color-light-3); */
  backdrop-filter: blur(1rem);
  box-shadow: 0.375rem 0.375rem 1.875rem var(--color-dark-1);
  display: grid;
}

.record-container,
.display-container {
  grid-column: span 5;
  height: calc(var(--vh) * var(--height) / 8);
  width: var(--width);
  padding: 0.75rem 1rem;
  border-right: 0.0625rem solid var(--color-light-1);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.record-container:hover {
  transition-duration: 0s;
  background-color: var(--color-light-1);
}

.record-container:active {
  background-color: var(--color-light-3);
}

#record,
#display {
  text-align: right;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1rem;
  padding-right: 0.5rem;
  color: var(--text-color-record);
  background-color: transparent;
  cursor: pointer;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-2) var(--color-light-1);
}
#record::-webkit-scrollbar,
#display::-webkit-scrollbar {
  width: 0.5rem;
}
#record::-webkit-scrollbar-track,
#display::-webkit-scrollbar-track {
  background: var(--color-light-1);
}
#record::-webkit-scrollbar-thumb,
#display::-webkit-scrollbar-thumb {
  background: var(--color-light-2);
  border: 0.0625rem solid transparent;
}

.display-container {
  height: calc(var(--vh) * var(--height) / 8 * 2);
  border-bottom: 0.0625rem solid var(--color-light-1);
  padding: 1rem;
  cursor: default;
}

#display {
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: var(--text-color);
  cursor: default;
}

button {
  display: grid;
  align-items: center;
  justify-items: center;
  height: calc(var(--vh) * var(--height) / 8);
  width: calc(var(--width) / 5);
  color: var(--text-color);
  font-weight: var(--font-weight);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  background-color: transparent;
  border: none;
  user-select: none;
  border-bottom: 0.0625rem solid var(--color-light-1);
  border-right: 0.0625rem solid var(--color-light-1);
  transition: background-color 0.5s ease;
}

button:hover {
  transition-duration: 0s;
  background-color: var(--color-light-1);
}

button:active {
  background-color: var(--btn-active-1);
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

#zero,
#clearAll,
#clear {
  grid-column: span 2;
  width: calc(var(--width) / 5 * 2);
}

#equals {
  grid-row: span 2;
  height: calc(var(--vh) * var(--height) / 8 * 2);
}

button.primary {
  background-color: var(--primary);
}
button.secondary {
  background-color: var(--secondary);
}
button.primary:hover {
  background-color: var(--primary-hover);
}
button.secondary:hover {
  background-color: var(--secondary-hover);
}
button.primary:active,
button.secondary:active {
  background-color: var(--btn-active-1);
}

button.opaque {
  background-color: var(--primary-o);
}
button.opaque:hover {
  background-color: var(--primary-o-hover);
}
button.opaque:active {
  background-color: var(--btn-active-2);
}

a {
  text-decoration: none;
  color: var(--a-color);
}

#info {
  position: absolute;
  background-color: var(--info-bg-color);
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 20;
  backdrop-filter: blur(1rem);
  border-top: 0.0625rem solid var(--color-light-3);
  border-left: 0.0625rem solid var(--color-light-3);
  box-shadow: 0.375rem 0.375rem 1.875rem var(--color-dark-1);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: calc(var(--vh) * var(--height) - 2rem);
  width: calc(var(--width) - 2rem);
  text-align: left;
  padding: 6%;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--text-color);
  cursor: default;
}

#info p {
  width: 100%;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: var(--font-weight);
}

#info p:first-child {
  width: 80%;
  margin-right: auto;
}

#info button {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 2.625rem;
  width: 80%;
  margin: 0 auto;
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  background-color: var(--color-light-1);
  border: none;
  user-select: none;
  border: 0.0625rem solid var(--color-light-2);
  border-top: 0.0625rem solid var(--color-light-3);
  border-left: 0.0625rem solid var(--color-light-3);
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}

#info button:hover {
  transition-duration: 0s;
  background-color: var(--color-light-2);
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 480px) {
  :root,
  :root.dark {
    --height: 90;
    --width: 80vw;
  }

  html {
    font-size: 20px;
  }

  body::before {
    clip-path: circle(20% at 25% 25%);
  }

  body::after {
    clip-path: circle(20% at 75% 75%);
  }

  .calculator {
    border-radius: 0.5rem;
    border-top: 0.0625rem solid var(--color-light-3);
    border-left: 0.0625rem solid var(--color-light-3);
    width: var(--width);
    height: calc(var(--vh) * var(--height));
  }
  #info {
    width: calc(var(--width) * 1.2);
  }
}
@media screen and (min-width: 480px) and (min-height: 800px) {
  :root,
  :root.dark {
    --height: 80;
  }
}
@media screen and (min-width: 480px) and (min-height: 900px) {
  :root,
  :root.dark {
    --height: 70;
  }
}

@media screen and (min-width: 480px) and (min-height: 1000px) {
  :root,
  :root.dark {
    --height: 65;
  }
}
@media screen and (min-width: 480px) and (min-height: 1100px) {
  :root,
  :root.dark {
    --height: 60;
  }
}

@media screen and (min-width: 600px) {
  :root,
  :root.dark {
    --width: 70vw;
  }
}
@media screen and (min-width: 680px) {
  :root,
  :root.dark {
    --width: 65vw;
  }
}
@media screen and (min-width: 760px) {
  :root,
  :root.dark {
    --width: 60vw;
  }
}

@media screen and (min-width: 840px) {
  :root,
  :root.dark {
    --width: 55vw;
  }
}
@media screen and (min-width: 920px) {
  :root,
  :root.dark {
    --width: 50vw;
  }
}
@media screen and (min-width: 1000px) {
  :root,
  :root.dark {
    --width: 45vw;
  }
}
@media screen and (min-width: 1080px) {
  :root,
  :root.dark {
    --width: 40vw;
  }
}
@media screen and (min-width: 1160px) {
  :root,
  :root.dark {
    --width: 35vw;
  }
}
@media screen and (min-width: 1400px) {
  :root,
  :root.dark {
    --width: 30vw;
  }
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1640px) {
  :root,
  :root.dark {
    --width: 25vw;
  }
}
@media screen and (min-width: 1920px) {
  :root,
  :root.dark {
    --width: 30vw;
  }
}
@media screen and (min-width: 1920px) and (min-height: 1080px) {
  :root,
  :root.dark {
    --height: 70;
  }
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 2800px) and (min-height: 1600px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 3200px) and (min-height: 1900px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 3600px) and (min-height: 2000px) {
  html {
    font-size: 40px;
  }
}
