* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --body-bg-color: #031323;
  /* --circle-color-1: #ffd000;
  --circle-color-2: #ff0000;
  --circle-color-3: #ff00dd;
  --circle-color-4: #f50202;
  --circle-color-5: #1928f5; */
  --circle-color-1: #856c00;
  --circle-color-2: #7c0000;
  --circle-color-3: #880076;
  --circle-color-4: #910000;
  --circle-color-5: #0e168a;
  --color-light-1: rgba(255, 255, 255, 0.05);
  --color-light-2: rgba(255, 255, 255, 0.1);
  --color-light-3: rgba(255, 255, 255, 0.2);
  --color-dark-1: rgba(0, 0, 0, 0.2);
  --text-color: #fff;
  --text-color-record: #90979e;
  --btn-active-1: #f71787;
  --btn-active-2: #fc7840;
  --a-color: #ff7a00;
  --info-bg-color: rgba(16, 31, 46, 0.95);
}

html {
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
  height: calc(var(--vh) * 100);
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg-color);
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(
    var(--circle-color-1),
    var(--circle-color-2),
    var(--circle-color-3)
  );
  clip-path: circle(20% at 25% 25%);
}

body::after {
  background: linear-gradient(var(--circle-color-4), var(--circle-color-5));
  clip-path: circle(20% at 75% 75%);
}

.calculator {
  position: absolute;
  z-index: 10;
  background-color: var(--color-light-1);
  /* border-radius: 8px; */
  overflow: hidden;
  /* border-top: 1px solid var(--color-light-3); */
  /* border-left: 1px solid var(--color-light-3); */
  backdrop-filter: blur(16px);
  box-shadow: 6px 6px 30px var(--color-dark-1);
  display: grid;
}

.record-container,
.display-container {
  grid-column: span 5;
  height: calc(var(--vh) * 100 / 8);
  width: 100vw;
  padding: 12px 16px;
  border-right: 1px solid var(--color-light-1);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.record-container:hover {
  transition-duration: 0s;
  background-color: var(--color-light-1);
}

.record-container:active {
  background-color: var(--color-light-3);
}

#record,
#display {
  text-align: right;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding-right: 8px;
  color: var(--text-color-record);
  background-color: transparent;
  cursor: pointer;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-2) var(--color-light-1);
}
#record::-webkit-scrollbar,
#display::-webkit-scrollbar {
  width: 8px;
}
#record::-webkit-scrollbar-track,
#display::-webkit-scrollbar-track {
  background: var(--color-light-1);
}
#record::-webkit-scrollbar-thumb,
#display::-webkit-scrollbar-thumb {
  background: var(--color-light-2);
  border: 1px solid transparent;
}

.display-container {
  height: calc(var(--vh) * 100 / 8 * 2);
  border-bottom: 1px solid var(--color-light-1);
  padding: 016px;
  cursor: default;
}

#display {
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color);
  cursor: default;
}

button {
  display: grid;
  align-items: center;
  justify-items: center;
  height: calc(var(--vh) * 100 / 8);
  width: calc(100vw / 5);
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  border: none;
  user-select: none;
  border-bottom: 1px solid var(--color-light-1);
  border-right: 1px solid var(--color-light-1);
  transition: background-color 0.5s ease;
}

button:hover {
  transition-duration: 0s;
  background-color: var(--color-light-1);
}

button:active {
  background-color: var(--btn-active-1);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

#zero,
#clearAll,
#clear {
  grid-column: span 2;
  width: calc(100vw / 5 * 2);
}

#equals {
  grid-row: span 2;
  height: calc(var(--vh) * 100 / 8 * 2);
}

button.opaque {
  background-color: var(--color-light-1);
}

button.opaque:hover {
  background-color: var(--color-light-2);
}

button.opaque:active {
  background-color: var(--btn-active-2);
}

a {
  text-decoration: none;
  color: var(--a-color);
}

#info {
  position: absolute;
  background-color: var(--info-bg-color);
  border-radius: 8px;
  overflow: hidden;
  z-index: 20;
  backdrop-filter: blur(16px);
  border-top: 1px solid var(--color-light-3);
  border-left: 1px solid var(--color-light-3);
  box-shadow: 6px 6px 30px var(--color-dark-1);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: calc(var(--vh) * 100 - 2rem);
  width: calc(100% - 2rem);
  text-align: left;
  padding: 6%;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-color);
  cursor: default;
}

#info p {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

#info button + p {
  width: 80%;
  margin-right: auto;
}

#info button {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 42px;
  width: 80%;
  margin: 0 auto;
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  background-color: transparent;
  border: none;
  user-select: none;
  border: 1px solid var(--color-light-2);
  border-top: 1px solid var(--color-light-3);
  border-left: 1px solid var(--color-light-3);
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

#info button:hover {
  transition-duration: 0s;
  background-color: var(--color-light-2);
}

.hidden {
  display: none !important;
}
