@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-display: flex;
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #031323;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffd000, #ff0000, #ff00dd);
  -webkit-clip-path: circle(20% at 25% 25%);
  clip-path: circle(20% at 25% 25%);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f50202, #1928f5);
  -webkit-clip-path: circle(20% at 25% 25%);
  clip-path: circle(20% at 75% 75%);
}

.container {
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.calculator {
  position: relative;
  -ms-display: grid;
  display: grid;
}

#record {
  grid-column: span 5;
  height: 26px;
  width: 230px;
  text-align: right;
  border: none;
  outline: none;
  padding: 11px 14px 0;
  font-size: 15px;
  line-height: 15px;
  background: transparent;
  color: #90979e;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

#record:hover {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: rgba(255, 255, 255, 0.05);
}

#record:active {
  background: rgba(255, 255, 255, 0.25);
}

#screen {
  grid-column: span 5;
  height: 46px;
  width: 230px;
  text-align: right;
  border: none;
  outline: none;
  padding: 11px 13px;
  font-size: 24px;
  line-height: 24px;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  cursor: default;
}

input[type="button"] {
  -ms-display: grid;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 46px;
  width: 46px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  background: transparent;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

input[type="button"]:hover {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: rgba(255, 255, 255, 0.05);
}

input[type="button"]:active {
  background-color: #f71787;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

input[value="0"],
input[value="CA"],
input[value="C"] {
  grid-column: span 2;
  width: 92px;
}

input[value="="] {
  grid-row: span 2;
  height: 92px;
}

input[type="button"].opaque {
  background: rgba(255, 255, 255, 0.05);
}

input[type="button"].opaque:hover {
  background: rgba(255, 255, 255, 0.1);
}

input[type="button"].opaque:active {
  background: #fc7840;
}

a {
  text-decoration: none;
  color: #ff7a00;
}

#info {
  position: absolute;
  background: rgba(16, 31, 46, 0.95);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 20;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  -webkit-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: 90%;
  width: 90%;
  text-align: left;
  padding: 6%;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  cursor: default;
}

#info input + p {
  width: 80%;
  margin-right: auto;
}

#info input {
  position: absolute;
  top: 10px;
  right: 10px;
  -ms-display: grid;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 32px;
  width: 32px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  background: transparent;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

#info input:hover {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: rgba(255, 255, 255, 0.15);
}

.hide {
  display: none !important;
}

@media screen and (min-height: 400px) and (min-width: 320px) {
  #record {
    height: 46px;
    width: 270px;
    padding: 11px 15px 0;
    font-size: 16px;
    line-height: 16px;
  }
  #screen {
    height: 54px;
    width: 270px;
    padding: 0 17px 15px;
    font-size: 24px;
    line-height: 24px;
  }
  input[type="button"] {
    height: 54px;
    width: 54px;
    font-size: 16px;
    line-height: 16px;
  }
  input[type="button"]:active {
    font-size: 20px;
    line-height: 20px;
  }
  input[value="0"],
  input[value="CA"],
  input[value="C"] {
    width: 108px;
  }

  input[value="="] {
    height: 108px;
  }
  #info {
    font-size: 16px;
    line-height: 16px;
  }
  #info input {
    height: 36px;
    width: 36px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-height: 500px) and (min-width: 375px) {
  #record {
    height: 56px;
    width: 320px;
    font-size: 18px;
    line-height: 18px;
  }
  #screen {
    height: 64px;
    width: 320px;
    font-size: 28px;
    line-height: 28px;
  }
  input[type="button"] {
    height: 64px;
    width: 64px;
    font-size: 18px;
    line-height: 18px;
  }
  input[type="button"]:active {
    font-size: 24px;
    line-height: 24px;
  }
  input[value="0"],
  input[value="CA"],
  input[value="C"] {
    width: 128px;
  }

  input[value="="] {
    height: 128px;
  }
  #info {
    height: 80%;
    font-size: 18px;
    line-height: 18px;
  }
  #info input {
    top: 14px;
    right: 14px;
    height: 40px;
    width: 40px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (min-height: 540px) and (min-width: 425px) {
  #record {
    height: 56px;
    width: 360px;
    font-size: 20px;
    line-height: 20px;
  }
  #screen {
    height: 72px;
    width: 360px;
    font-size: 32px;
    line-height: 32px;
  }
  input[type="button"] {
    height: 72px;
    width: 72px;
    font-size: 20px;
    line-height: 20px;
  }
  input[type="button"]:active {
    font-size: 26px;
    line-height: 26px;
  }
  input[value="0"],
  input[value="CA"],
  input[value="C"] {
    width: 144px;
  }

  input[value="="] {
    height: 144px;
  }
  #info {
    font-size: 20px;
    line-height: 20px;
  }
  #info input {
    top: 16px;
    right: 16px;
    height: 44px;
    width: 44px;
  }
}

@media screen and (min-height: 620px) and (min-width: 520px) {
  #record {
    height: 56px;
    width: 420px;
    font-size: 24px;
    line-height: 24px;
  }
  #screen {
    height: 84px;
    width: 420px;
    font-size: 36px;
    line-height: 36px;
  }
  input[type="button"] {
    height: 84px;
    width: 84px;
    font-size: 24px;
    line-height: 24px;
  }
  input[type="button"]:active {
    font-size: 28px;
    line-height: 28px;
  }
  input[value="0"],
  input[value="CA"],
  input[value="C"] {
    width: 168px;
  }

  input[value="="] {
    height: 168px;
  }
  #info {
    height: 70%;
    font-size: 24px;
    line-height: 24px;
  }
  #info input {
    top: 20px;
    right: 20px;
    height: 52px;
    width: 52px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (min-height: 720px) and (min-width: 620px) {
  #record {
    height: 56px;
    width: 460px;
    font-size: 26px;
    line-height: 26px;
  }
  #screen {
    height: 92px;
    width: 460px;
    font-size: 40px;
    line-height: 40px;
  }
  input[type="button"] {
    height: 92px;
    width: 92px;
    font-size: 26px;
    line-height: 26px;
  }
  input[type="button"]:active {
    font-size: 30px;
    line-height: 30px;
  }
  input[value="0"],
  input[value="CA"],
  input[value="C"] {
    width: 184px;
  }

  input[value="="] {
    height: 184px;
  }
  #info {
    font-size: 26px;
    line-height: 26px;
  }
  #info input {
    top: 22px;
    right: 22px;
    height: 56px;
    width: 56px;
    font-size: 20px;
    line-height: 20px;
  }
}
